<ion-header>
  <ion-toolbar style="padding-top: 7%;">
    <ion-title mode="ios">Caderneta</ion-title>
    <ion-icon name="close-circle-outline" style="color: black;" size="large" slot="end" (click)="dismiss()"></ion-icon>&nbsp;&nbsp;
  </ion-toolbar>
    
    
</ion-header>
<ion-content>
  <div class="container">
    <h1>Caderneta : {{nomeRn}}</h1>
      <ion-grid  class="ion-text-wrap">
        <ion-row style="font-weight: bold">
          <ion-col size="3">Vacinação</ion-col>
          <ion-col size="5">Vacina</ion-col>
          <ion-col size="3">Sus/Part</ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
  
        <ion-row *ngFor="let caderneta of caderneta">
          <ion-col size="3">{{caderneta.data}}</ion-col>
          <ion-col size="5">{{caderneta.vacina}}</ion-col>
          <ion-col size="3">{{caderneta.user}}</ion-col>
          <ion-col size="1" style="background-color: red;" (click)="excluir(caderneta.id);"><a style="color: white;">X</a></ion-col>

        </ion-row>

      </ion-grid>
 
    
  </div>
</ion-content>
