<ion-toolbar style="padding-top: 7%;">
  <ion-title mode="ios">Edição Usuário</ion-title>

  <ion-buttons slot="start">
    <ion-menu-button color="dark"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>  
    
    <form [formGroup]="EditForm" class="list-form" action="" (submit) = "sign">
      <ion-input type="text" placeholder="">Nº da carteirinha do sus : {{sus}}</ion-input>
      <ion-item>
        <ion-icon name="person-outline" slot="end" size="small"></ion-icon>
        <ion-input type="text" formControlName="fullName" name ="fullName" placeholder="{{fullName}}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="mail-outline" slot="end" size="small"></ion-icon>
        <ion-input type="email" formControlName="email" name ="email" placeholder="{{email}}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="lock-closed-outline" slot="end" size="small"></ion-icon>
        <ion-input type="password" formControlName="password" name ="password" placeholder="*******"></ion-input>
      </ion-item>
    </form>

  <br><br><br><br>
  <ion-button (click) = "mudarNome();"  icon-right>
    <ion-icon name="checkmark-sharp" slot="end" size="small" style="color: white;"></ion-icon>&nbsp;Salvar
  </ion-button>
</ion-content>
