<ion-toolbar style="padding-top: 7%; ">
  <ion-title mode="ios">Edição Criança/Adolescente</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button color="dark"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>

  <div id="editar-form">
    <ion-list *ngFor="let rn of rn">
      <ion-item>
        <ion-input readonly>{{rn.fullname}}</ion-input>
        <ion-button (click)="editar(rn.id);" style="height: 35px; width: fit-content;">Editar</ion-button>
      </ion-item>
    </ion-list>
  </div>
  <div id ="form-editar" style ="display: none;">
    <form>
      <ion-item>
        <ion-icon name="person-outline" slot="end" size="small"></ion-icon>
        <ion-input type="text" (ionChange)="nomeR($event);" placeholder="{{nomeRN}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar-outline" slot="end" size="small"></ion-icon>
        <ion-datetime (ionChange)="data($event);" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" placeholder="{{data_nascimento}}"></ion-datetime>
      </ion-item>
    </form>

    <br><br><br><br>
    <ion-button (click)="salvar(idRN);" icon-right>
      <ion-icon name="checkmark-sharp" slot="end" size="small" style="color: white;"></ion-icon>&nbsp;Salvar
    </ion-button><br>

    <ion-button (click)="excluir(idRN);" icon-right class="del">
      <ion-icon name="close-sharp" slot="end" size="small" style="color: white;"></ion-icon>&nbsp;Excluir
    </ion-button>
  </div>
</ion-content>
 