ion-header, ion-toolbar {
    --border-style: var(--border-style);
    --border: 0 none; 
    box-shadow: 0 0 0 0; 
    outline: 0;
    //--background: #f2fffc;
    --background: #c0dbd6;
    color: black;
  }

  ion-input, ion-datetime {
    border-style: var(--border-style);
    border: 0 none;
    width: 100%;
    box-shadow: 0 0 0 0; 
    outline: 0;
    padding: 0px;
    //height: 70px;
    margin-top: 8px; 
    padding-bottom: 0px;
    display: flex;
  }

  ion-item {
    //--border-style: var(--border-style);
    //--border: 0 none; 
    //border: 1px solid lightgray;
    //border-radius: 20px;
    width: 100%;
    box-shadow: 0 0 0 0; 
    outline: 0;
    padding: 0px;
    //height: 70px;
    margin-top: 8px; 
    padding-bottom: 0px;
    display: flex;
  }

  form {
    padding: 15px;
    margin-top: 60%;
  }

  ion-button {
    size: medium;
    --shape:  round;
    width: 70%;
    --background: #006600;
    --background-activated: #006600;
    display: block;
    margin: auto;
}

.del {
    size: medium;
    --shape:  round;
    width: 70%;
    --background: red;
    --background-activated: red;
    display: block;
    margin: auto;
}