#container {
  text-align: center;

  position: absolute;
  margin-top: 10%;
  left: 0;
  right: 0;
  /*top: 40%;
  transform: translateY(-50%);*/
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 20px;

  color: black;
  //font-weight: bold;
  //text-decoration: underline;

  margin: 0;
  margin-top: 5px;
}

#container a {
  text-decoration: none;
}

ion-header, ion-toolbar {
  --border-style: var(--border-style);
  --border: 0 none; 
  box-shadow: 0 0 0 0; 
  outline: 0;
  //--background: #f2fffc;
  --background: #c0dbd6;
  color: black;
}

ion-list-header {
  --position: sticky !important;
  display: flex;
}

ion-row {
  align-self: center; 
  display: block; 
  margin: auto;
}

ion-card {
  box-shadow: 0.5 0.5 0.5 0.5;
  border: 1px solid lightgray;
}

ion-chip {
  padding: 15px;
  text-align: center;
  font-weight: bold;
  border: 2px solid;
  margin-bottom: 4%;
}

.title {
  text-align: center;
  font-size: 20px;
}

ion-card-content{
  padding-inline-end: 0px;
  padding-inline-start: unset;
  padding-right: 15px;
}

.fixado{
  position: fixed; 
  --background: white;
  padding-top: 0px;
  margin-top: -10%;
}

ion-item{
  padding: 0px;
}

/*ion-button{
  --background: #c1f7c1;
  color: #4854e0;
  font-weight: bold;
  --background-activated: #c1f7c1;
  --transition: none;
  --border-radius: 15%;
  --border-style: none;
}*/


/*img {
  margin-top: 10px;
  align-self: center;
}*/