<ion-header>
  <ion-toolbar style="padding-top:7%;">
    <ion-title mode="ios">Imunização em dia</ion-title>
    <ion-icon style="padding:10%;" name="close-circle-outline" style="color: black;" size="large" slot="end" (click)="dismiss()"></ion-icon>&nbsp;&nbsp;
  </ion-toolbar>
    
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="container">
    <!--<ion-button expand="block" (click)="scheduleNotification()">Schedule</ion-button>
    <ion-button  expand="block" (click)="recurringNotification()" >Every Minute</ion-button>
    <ion-button  expand="block" (click)="repeatingDaily()">Daily</ion-button>
    <ion-button  expand="block" (click)="getAll()">get All</ion-button>
    <p style="font-size: large;">Olá, <b>{{nome}}</b></p><br><br>-->
    <ion-toolbar class="fixado" style="margin-bottom: 35%;">
      <ion-grid >
        <ion-row>
          <ion-col class="col-md-6">
            <ion-chip outline color="primary">
              <ion-label>SUS</ion-label>
            </ion-chip>
            
          </ion-col>
          <ion-col class="col-md-6" style="margin-left: 20%;">
         
            <ion-chip outline color="success"> 
              <ion-label>Particular</ion-label>
            </ion-chip>          
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="col-md-6">           
              <ion-label>PNI/Rede Pública</ion-label>   
          </ion-col>
          <ion-col style="margin-left: 6%;" class="col-md-6">       
            <ion-label>SBIM/Rede Privada</ion-label>       
          </ion-col>
        </ion-row>       
      </ion-grid>
    </ion-toolbar>
    <div style="margin-top: 30%;">
    <p>Manter o calendário de vacina sempre atualizado!</p>
    
    <div *ngFor= "let vacina of vacina" >
        <ion-card *ngIf = "vacina.cadastro != 'nao'" [hidden] = "vacina.nome == 'PENTA' || vacina.nome == 'MENINGO' || vacina.nome == 'DPT'"> 
          <ion-card-content  >
            <ion-item>         
              <ion-input readonly>{{vacina.nome}}</ion-input>
              <div [hidden]="vacina.tipo == 'particular'" (click)="check(vacina.nome,'sus');" id = "publico">
                <ion-chip outline color="primary">
                  <ion-label>OK</ion-label>
                </ion-chip>
              </div>
              <div [hidden]="vacina.tipo == 'publico'" (click)="check(vacina.nome,'part');" id = "particular">
                <ion-chip outline color="success"> 
                  <ion-label>OK</ion-label>
                </ion-chip>
              </div>
            </ion-item>  
            <ion-item>
              <div (click)="comparacao(vacina.nome);">
                <ion-chip outline color="warning">
                  <ion-label>Comparação SUS/Particular</ion-label>
                </ion-chip>
              </div>
              </ion-item>               
          </ion-card-content>
        </ion-card >

        <ion-card *ngIf = "vacina.cadastro != 'nao'" [hidden] = " vacina.nome == 'MENINGOCÓCICA ACWY' || vacina.nome == 'VARICELA' ||  vacina.nome == 'HEPATITE A' ||  vacina.nome == 'TRÍPLICE VIRAL' || vacina.nome == 'FEBRE AMARELA' || vacina.nome == 'HEPATITE A' || vacina.nome == 'INFLUENZA' || vacina.nome == 'TETRA VIRAL' || vacina.nome == 'MENINGOCÓCICA B' || vacina.nome == 'ROTA VÍRUS' || vacina.nome == 'HEPATITE B' ||  vacina.nome == 'BCG' || vacina.nome == 'PNEUMOCÓCICA'">  
          <ion-card-content >
            <ion-item >     
               <ion-input readonly>{{vacina.sus}}</ion-input>
               <div [hidden]="vacina.tipo == 'particular'"(click)="check(vacina.sus,'sus');" id = "publico">
                <ion-chip outline color="primary">
                  <ion-label>OK</ion-label>
                </ion-chip>
              </div>
              </ion-item>
              <ion-item>
                <ion-input readonly>{{vacina.part}}</ion-input>
              <div [hidden]="vacina.tipo == 'publico'" (click)="check(vacina.part,'part');" id = "particular">
                <ion-chip outline color="success"> 
                  <ion-label>OK</ion-label>
                </ion-chip>
              </div>
              </ion-item>
              <ion-item>
              <div (click)="comparacao(vacina.nome);">
                <ion-chip outline color="warning">
                  <ion-label>Comparação SUS/Particular</ion-label> 
                </ion-chip>
              </div>
    
            </ion-item>       
          </ion-card-content>
        </ion-card >
      </div>
  <!--
        
      <ion-card > 
          <ion-card-content >
            <ion-item *ngIf= "idade == '7 dias' || idade == '10 anos' || idade == '11 anos' || idade == '12 anos' || idade == '13 anos' || idade == '14 anos' || idade == '15 anos' || idade == '16 anos' || idade == '17 anos' || idade == '18 anos' || idade == '19 anos'">         
                <ion-input readonly>HEPATITTE B</ion-input>
                <div (click)="check('HEPATITE B','sus');" id = "publico">
                <ion-chip outline color="primary">
                  <ion-label>OK</ion-label>
                </ion-chip>
              </div>
              <div (click)="check('HEPATITE B','part');" id = "particular">
                <ion-chip outline color="success"> 
                  <ion-label>OK</ion-label>
                </ion-chip>
              </div>
            </ion-item>  
            <ion-item>
              <div (click)="comparacao('HEPATITE B');">
                <ion-chip outline color="warning">
                  <ion-label>Comparação SUS/Particular</ion-label>
                </ion-chip>
              </div>
              </ion-item>                
          </ion-card-content>
      </ion-card>

    <ion-card *ngIf= "idade == '2 meses' || idade == '4 meses' || idade == '6 meses'"> 
      <ion-card-content >
        <ion-item >     
           <ion-input readonly>PENTA + VIP</ion-input>
           <div (click)="check('PENTA + VIP','sus');" id = "publico">
            <ion-chip outline color="primary">
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
          </ion-item>
          <ion-item>
            <ion-input readonly>HEXA</ion-input>
          <div (click)="check('HEXA','part');" id = "particular">
            <ion-chip outline color="success"> 
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
          </ion-item>
          <ion-item>
          <div (click)="comparacao('PENTA');">
            <ion-chip outline color="warning">
              <ion-label>Comparação SUS/Particular</ion-label> 
            </ion-chip>
          </div>

        </ion-item>       
      </ion-card-content>
    </ion-card >

    <ion-card *ngIf= "idade == '2 meses' || idade == '4 meses' || idade == '1 ano'"> 
      <ion-card-content >
        <ion-item >         
           <ion-input readonly>PNEUMOCÓCICA</ion-input>
           <div (click)="check('PNEUMOCÓCICA','sus');" id = "publico">
            <ion-chip outline color="primary">
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
          <div (click)="check('PNEUMOCÓCICA','part');" id = "particular">
            <ion-chip outline color="success"> 
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
        </ion-item>   
        <ion-item>
          <div (click)="comparacao('PNEUMO');">
            <ion-chip outline color="warning">
              <ion-label>Comparação SUS/Particular</ion-label>
            </ion-chip>
          </div>
          </ion-item>               
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf= "idade == '6 meses'"> 
      <ion-card-content >
        <ion-item >         
           <ion-input readonly>PNEUMOCÓCICA</ion-input>
           <div (click)="check('PNEUMOCÓCICA','part');" id = "particular">
            <ion-chip outline color="success"> 
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
        </ion-item>       
      </ion-card-content>
    </ion-card>
    

    <ion-card *ngIf= "idade == '3 meses' || idade == '5 meses' || idade == '1 ano'"> 
      <ion-card-content >
        <ion-item >         
          <ion-input readonly>MENINGOCÓCICA C</ion-input>
          <div (click)="check('MENINGOCÓCICA C','sus');" id = "publico">
            <ion-chip outline color="primary">
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
         </ion-item> 
        <ion-item >         
           <ion-input readonly>MENINGOCÓCICA ACWY</ion-input>
          <div (click)="check('MENINGOCÓCICA ACWY','part');" id = "particular">
            <ion-chip outline color="success"> 
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
        </ion-item>
        
        <ion-item>
          <div (click)="comparacao('MENINGO');">
            <ion-chip outline color="warning">
              <ion-label>Comparação SUS/Particular</ion-label>
            </ion-chip>
          </div>
          </ion-item>       
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf= "idade == '4 anos'"> 
      <ion-card-content >
        <ion-item >         
           <ion-input readonly>MENINGOCÓCICA ACWY</ion-input>
          <div (click)="check('MENINGOCÓCICA ACWY','part');"  id = "particular">
            <ion-chip outline color="success"> 
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
        </ion-item>      
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf= "idade == '10 anos'"> 
      <ion-card-content >
        <ion-item >         
          <ion-input readonly>MENINGOCÓCICA ACWY</ion-input>
          <div (click)="check('MENINGOCÓCICA ACWY','sus');" id = "publico">
            <ion-chip outline color="primary">
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
         </ion-item> 
         </ion-card-content>   
      
    </ion-card>

    <ion-card *ngIf= "idade == '3 meses' || idade == '5 meses' || idade == '1 ano'"> 
      <ion-card-content >
        <ion-item >         
           <ion-input readonly>MENINGOCÓCICA B</ion-input>           
          <div (click)="check('MENINGOCÓCICA B','part');"  id = "particular">
            <ion-chip outline color="success"> 
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
         </ion-item>  
         
         <ion-item>
          <div (click)="comparacao('MENINGO B');">
            <ion-chip outline color="warning">
              <ion-label>Comparação SUS/Particular</ion-label>
            </ion-chip>
          </div>
          </ion-item>       
      </ion-card-content>
    </ion-card>

  
    <ion-card *ngIf= "idade == '2 meses' || idade == '4 meses'"> 
      <ion-card-content >
        <ion-item >         
           <ion-input readonly>ROTAVÍRUS</ion-input>
           <div (click)="check('ROTAVÍRUS','sus');"  id = "publico">
            <ion-chip outline color="primary">
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
          <div (click)="check('ROTAVÍRUS','part');"  id = "particular">
            <ion-chip outline color="success"> 
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
         
        </ion-item>   
        <ion-item>
          <div (click)="comparacao('ROTAVÍRUS');">
            <ion-chip outline color="warning">
              <ion-label>Comparação SUS/Particular</ion-label>
            </ion-chip>
          </div>
          </ion-item>           
      </ion-card-content>
    </ion-card>

    <ion-card  *ngIf= "idade == '6 meses'"> 
      <ion-card-content >
        <ion-item >         
           <ion-input readonly>ROTAVÍRUS</ion-input>

          <div (click)="check('ROTAVÍRUS','part');" id = "particular">
            <ion-chip outline color="success"> 
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
          
        </ion-item>       
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf= "idade == '6 meses'"> 
      <ion-card-content >
        <ion-item >         
           <ion-input readonly>INFLUENZA</ion-input>
           <div (click)="check('INFLUENZA','sus');" id = "publico">
            <ion-chip outline color="primary">
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
          <div (click)="check('INFLUENZA','part');" id = "particular">
            <ion-chip outline color="success"> 
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
         

        </ion-item>     
        <ion-item>
          <div (click)="comparacao('INFLUENZA');">
            <ion-chip outline color="warning">
              <ion-label>Comparação SUS/Particular</ion-label>
            </ion-chip>
          </div>
        </ion-item>  
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf= "idade == '9 meses' || idade == '4 anos'"> 
      <ion-card-content >
        <ion-item >         
           <ion-input readonly>FEBRE AMARELA</ion-input>
           <div (click)="check('FEBRE AMARELA','sus');" id = "publico">
            <ion-chip outline color="primary">
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
          <div (click)="check('FEBRE AMARELA','part');" id = "particular">
            <ion-chip outline color="success"> 
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
        
        </ion-item>  
        <ion-item>
          <div (click)="comparacao('FEBRE AMARELA');">
            <ion-chip outline color="warning">
              <ion-label>Comparação SUS/Particular</ion-label>
            </ion-chip>
          </div>
          </ion-item>            
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf= "idade == '1 ano'"> 
      <ion-card-content >
        <ion-item >         
           <ion-input readonly>TRÍPLICE VIRAL</ion-input>
           <div (click)="check('TRÍPLICE VIRAL','sus');" id = "publico">
            <ion-chip outline color="primary">
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
          <div (click)="check('TRÍPLICE VIRAL','part');" id = "particular">
            <ion-chip outline color="success"> 
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
        </ion-item>   
        <ion-item>
          <div (click)="comparacao('TRÍPLICE VIRAL');">
            <ion-chip outline color="warning">
              <ion-label>Comparação SUS/Particular</ion-label>
            </ion-chip>
          </div>
          </ion-item>           
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf= "idade == '1 ano'"> 
      <ion-card-content >
        <ion-item >         
           <ion-input readonly>HEPATITE A </ion-input>
           <div (click)="check('HEPATITE A','sus');" id = "publico">
            <ion-chip outline color="primary">
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
          <div (click)="check('HEPATITE A','part');" id = "particular">
            <ion-chip outline color="success"> 
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
         
        </ion-item>     
        <ion-item>
          <div (click)="comparacao('HEPATITE A');">
            <ion-chip outline color="warning">
              <ion-label>Comparação SUS/Particular</ion-label>
            </ion-chip>
          </div>
          </ion-item>         
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="idade == '1 ano e 6 meses'"> 
      <ion-card-content >
        <ion-item >         
           <ion-input readonly>HEPATITE A </ion-input>

          <div (click)="check('HEPATITE A','part');" id = "particular">
            <ion-chip outline color="success"> 
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>


        </ion-item>       
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf= "idade == '1 ano e 3 meses'"> 
      <ion-card-content >
        <ion-item >         
           <ion-input readonly>TETRA VIRAL</ion-input>

           <div (click)="check('TETRA VIRAL','sus');" id = "publico">
            <ion-chip outline color="primary">
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
          <div (click)="check('TETRA VIRAL','part');" id = "particular">
            <ion-chip outline color="success"> 
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
         
        </ion-item>  
        <ion-item>
          <div (click)="comparacao('TETRA VIRAL');">
            <ion-chip outline color="warning">
              <ion-label>Comparação SUS/Particular</ion-label>
            </ion-chip>
          </div>
          </ion-item>            
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf= "idade == '1 ano e 3 meses'"> 
      <ion-card-content >
        <ion-item >     
           <ion-input readonly>DPT + VOP</ion-input>
           <div (click)="check('DPT + VOP','sus');" id = "publico">
            <ion-chip outline color="primary">
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
          </ion-item>
          <ion-item>
            <ion-input readonly>PENTA ACELULAR
            </ion-input>
          <div (click)="check('PENTA ACELULAR','part');" id = "particular">
            <ion-chip outline color="success"> 
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
          </ion-item>
          <ion-item>
            <div (click)="comparacao('PENTA');">
              <ion-chip outline color="warning">
                <ion-label>Comparação SUS/Particular</ion-label>
              </ion-chip>
            </div>
            </ion-item>        
      </ion-card-content>
    </ion-card >

    <ion-card *ngIf= "idade == '4 anos'"> 
      <ion-card-content >
        <ion-item >     
           <ion-input readonly>DPT + VOP</ion-input>
           <div (click)="check('DPT + VOP','sus');" id = "publico">
            <ion-chip outline color="primary">
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
          </ion-item>
          <ion-item>
            <ion-input readonly>DTPa + VIP</ion-input>
          <div (click)="check('DPTa + VIP','part');" id = "particular">
            <ion-chip outline color="success"> 
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
          </ion-item>
          <ion-item>
          <div (click)="comparacao('DPT');">
            <ion-chip outline color="warning">
              <ion-label>Comparação SUS/Particular</ion-label>
            </ion-chip>
          </div>

        </ion-item>       
      </ion-card-content>
    </ion-card >
    <ion-card  *ngIf= "idade == '4 anos'"> 
      <ion-card-content >
        <ion-item >         
           <ion-input readonly>VARICELA</ion-input>

           <div (click)="check('VARICELA','sus');" id = "publico">
            <ion-chip outline color="primary">
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
          <div (click)="check('VARICELA','part');" id = "particular">
            <ion-chip outline color="success"> 
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>         
        </ion-item>       
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="idade == '9 anos'"> 
      <ion-card-content >
        <ion-item >         
           <ion-input readonly>HPV</ion-input>
           <div (click)="check('HPV','sus');" id = "publico">
            <ion-chip outline color="primary">
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
          <div (click)="check('HPV','part');" id = "particular">
            <ion-chip outline color="success"> 
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
         
        </ion-item>  
        <ion-item>
          <div (click)="comparacao('HPV');">
            <ion-chip outline color="warning">
              <ion-label>Comparação SUS/Particular</ion-label>
            </ion-chip>
          </div>
          </ion-item>            
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="idade == '9 anos'"> 
      <ion-card-content >
        <ion-item >         
           <ion-input readonly>dTpa</ion-input>
           <div (click)="check('dTpa','sus');" id = "publico">
            <ion-chip outline color="primary">
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
          <div (click)="check('dTpa','part');" id = "particular">
            <ion-chip outline color="success"> 
              <ion-label>OK</ion-label>
            </ion-chip>
          </div>
          
        </ion-item>       
      </ion-card-content>
    </ion-card>
-->  

  </div>

  </div>
</ion-content>