ion-header, ion-toolbar {
    --border-style: var(--border-style);
    --border: 0 none; 
    box-shadow: 0 0 0 0; 
    outline: 0;
    //--background: #f2fffc;
    --background: #c0dbd6;
    color: black;
  }
  
  ion-content p{
    //--background: hsl(95, 60%, 96%) ;
    //--background: #e7fff9;
    //--background: #f2fffc;
    padding: 10px;
    line-height: 30px;
  }