<ion-toolbar style="padding-top: 7%;">
  <ion-title mode="ios">Referências</ion-title>
 <!-- <ion-buttons slot="start">&nbsp;&nbsp;
    <ion-back-button defaultHref="home" text="" style="color: black;" icon="arrow-back-circle-outline"></ion-back-button>
  </ion-buttons>-->
  <ion-buttons slot="start">
    <ion-menu-button color="dark"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>

  <p>Brasil. Ministério da Saúde. Programa Nacional de Imunização. Agência Nacional de Vigilância Sanitária. Calendário de vacinação / 2020 / PNI / MS. Brasília: Ministério da Saúde; 2020.</p>

  <p>Center for Disease Control and Prevention (CDC). Coronavirus disease 19 (COVID-19): vacines-Whasington: CDC; 2019. Disponível em: <ion-router-link>https://www.cdc.gov/coronavirus/2019-ncov/vaccines /index.html.</ion-router-link></p>

  <p>Sociedade Brasileira de Imunizações. Calendário de vacinação. São Paulo: SBIm; 2020/2021.</p>

  <p>Sociedade Brasileira de Pediatria. Calendário de vacinação da SBP 2020. Rio de Janeiro: SBP; 2020.</p>

</ion-content>
