<ion-header >
  <ion-toolbar style="padding-top: 7%;">
    <ion-title mode="ios">Caderneta de Vacinação</ion-title>
    <ion-icon name="close-circle-outline" style="color: black;" size="large" slot="end" (click)="dismiss()"></ion-icon>&nbsp;&nbsp;
  </ion-toolbar>
    
</ion-header>
<ion-content>
  <div class="container">

    <ion-grid class="ion-text-wrap">
      <ion-row style="font-weight: bold">
        <ion-col size="6">PNI/SUS</ion-col>
        <ion-col *ngIf="vacina == 'DTP'" size="6">DTPw  + VOP</ion-col>
        <ion-col *ngIf="vacina == 'INFLUENZA'" size="6">VACINA DA GRIPE INFLUENZA TRIVALENTE</ion-col>
        <ion-col *ngIf="vacina == 'PENTA'" size="6">PENTA DE CÉLULAS INTEIRAS (DTPw+Hib+HB) + VIP</ion-col>
        <ion-col *ngIf="vacina == 'HEPATITE B'" size="6">HEPATITE B</ion-col>
        <ion-col *ngIf="vacina == 'BCG'" size="6">BCG</ion-col>
        <ion-col *ngIf="vacina == 'VIP'" size="6">VIP</ion-col>
        <ion-col *ngIf="vacina == 'PNEUMO'" size="6">PNEUMO 10</ion-col>
        <ion-col *ngIf="vacina == 'ROTAVÍRUS'" size="6">ROTAVÍRUS VRH 1</ion-col>
        <ion-col *ngIf="vacina == 'MENINGO'" size="6">MENINGO C</ion-col>
        <ion-col *ngIf="vacina == 'MENINGO B'" size="6">-------------</ion-col>
        <ion-col *ngIf="vacina == 'FEBRE AMARELA'" size="6">FEBRE AMARELA</ion-col>
        <ion-col *ngIf="vacina == 'HEPATITE A'" size="6">HEPATITE A</ion-col>
        <ion-col *ngIf="vacina == 'TRÍPLICE VIRAL'" size="6">TRÍPLICE VIRAL (SARAMPO + CAXUMBA + RUBÉOLA)</ion-col>
        <ion-col *ngIf="vacina == 'TETRA VIRAL'" size="6">TETRAVIRAL (TRIVIRAL + VARICELA)</ion-col>
        <ion-col *ngIf="vacina == 'HPV 4'" size="6">HPV 4</ion-col>
        <ion-col *ngIf="vacina == 'VOP'" size="6">VOP</ion-col>
      </ion-row>
      <ion-row style="font-weight: bold">
        <ion-col size="6">SBIM/<br>PARTICULAR</ion-col>
        <ion-col size="6" *ngIf="vacina == 'DTP'" >DTPa + VIP</ion-col>
        <ion-col *ngIf="vacina == 'INFLUENZA'" size="6">VACINA DA GRIPE INFLUENZA TRI E QUADRIVALENTE</ion-col>
        <ion-col *ngIf="vacina == 'PENTA'" size="6">PENTA ACELULAR (DTPa+VIP+Hib)<br><br> OU <br><br>HEXA ACELULAR (DTPa+VIP+HB+Hib)</ion-col>
        <ion-col *ngIf="vacina == 'HEPATITE B'" size="6">HEPATITE B</ion-col>
        <ion-col *ngIf="vacina == 'BCG'" size="6">BCG</ion-col>
        <ion-col *ngIf="vacina == 'VIP'" size="6">VIP</ion-col>
        <ion-col *ngIf="vacina == 'PNEUMO'" size="6">PNEUMO 13</ion-col>
        <ion-col *ngIf="vacina == 'ROTAVÍRUS'" size="6">ROTAVÍRUS VRH 5 </ion-col>
        <ion-col *ngIf="vacina == 'MENINGO'" size="6">MENINGO ACWY</ion-col>
        <ion-col *ngIf="vacina == 'MENINGO B'" size="6">MENINGO B</ion-col>
        <ion-col *ngIf="vacina == 'FEBRE AMARELA'" size="6">FEBRE AMARELA</ion-col>
        <ion-col *ngIf="vacina == 'HEPATITE A'" size="6">HEPATITE A</ion-col>
        <ion-col *ngIf="vacina == 'TRÍPLICE VIRAL'" size="6">TRÍPLICE VIRAL (SARAMPO + CAXUMBA + RUBÉOLA)</ion-col>
        <ion-col *ngIf="vacina == 'TETRA VIRAL'" size="6">TETRAVIRAL (TRIVIRAL + VARICELA)</ion-col>
        <ion-col *ngIf="vacina == 'HPV 4'" size="6">HPV 4</ion-col>
        <ion-col *ngIf="vacina == 'VOP'" size="6">-----------</ion-col>
      </ion-row>
      <ion-row style="font-weight: bold">
         <ion-col size="6">DIFERENÇA</ion-col>
         <ion-col *ngIf="vacina == 'DTP'" size="6">A VACINA ACELULAR APRESENTA MENOS REAÇÕES ADVERSAS(DTPa).</ion-col>
         <ion-col *ngIf="vacina == 'INFLUENZA'" size="6">A VACINA QUADRIVALENTE CONFERE MAIOR PROTEÇÃO. NO SUS A VACINA TRIVALENTE ESTÁ DISPONÍVEL PARA GRUPOS PRIORITÁRIOS E NA REDE PARTICULAR AS VACINAS TRI E QUADRIVALENTE ESTÃO DISPONÍVEIS A PARTIR DE 6 MESES SEM RESTRIÇÃO DE IDADE.</ion-col>
         <ion-col *ngIf="vacina == 'PENTA'" size="6">REAÇÕES ADVERSAS SÃO SIGNIFICATIVAMENTE MENORES NA VACINA ACELULAR QUANDO COMPARADA A VACINA DE CÉLULAS INTEIRAS.</ion-col>
         <ion-col *ngIf="vacina == 'HEPATITE B'" size="6">MESMA VACINA</ion-col>
         <ion-col *ngIf="vacina == 'BCG'" size="6">MESMA VACINA</ion-col>
         <ion-col *ngIf="vacina == 'VIP'" size="6">MESMA VACINA. NA REDE PARTICULAR VEM ASSOCIADA A PENTA OU A HEXA ACELULAR.</ion-col>
         <ion-col *ngIf="vacina == 'PNEUMO'" size="6">PNEUMO 13 OFERECE MAIOR PROTEÇÃO E A RECOMENDAÇÃO É DE 3 DOSES E 1 REFORÇO. O SUS RECOMENDA 2 DOSES E 1 REFORÇO DA PNEUMO 10.</ion-col>
         <ion-col *ngIf="vacina == 'ROTAVÍRUS'" size="6">A VACINA DA REDE PARTICULAR OFERECE MAIOR PROTEÇÃO (5 TIPOS DE ROTAVÍRUS) E É REALIZADO ESQUEMA DE 3 DOSES. NO SUS, ESQUEMA DE 2 DOSES (1 TIPO DE ROTAVÍRUS).</ion-col>
         <ion-col *ngIf="vacina == 'MENINGO'" size="6">A MENINGO ACWY CONFERE MAIOR PROTEÇÃO QUE A MENINGO C (MENINGOCOCO A, W, Y ALÉM DO C). O SUS DISPONIBILIZA A MENINGO C AOS 3 E AOS 5 MESES DE IDADE, COM 1 REFORÇO AOS 12 MESES E 1 DOSE DA VACINA ACWY PARA OS ADOLESCENTES.</ion-col>
         <ion-col *ngIf="vacina == 'MENINGO B'" size="6">SÓ ESTÁ DISPONÍVEL NOS SERVIÇOS PARTICULARES. PREVINE INFECÇÕES GRAVES CAUSADAS PELO MENINGOCOCO B.</ion-col>
         <ion-col *ngIf="vacina == 'FEBRE AMARELA'" size="6">MESMA VACINA</ion-col>
         <ion-col *ngIf="vacina == 'HEPATITE A'" size="6">MESMA VACINA. NO SUS É REALIZADA 1 DOSE A PARTIR DE 15 MESES ATÉ 4 ANOS 11 MESES 29 DIAS. NA REDE PARTICULAR É REALIZADA A PARTIR DE 12 MESES EM 2 DOSES COM INTERVALO DE 6 MESES.</ion-col>
         <ion-col *ngIf="vacina == 'TRÍPLICE VIRAL'" size="6">MESMA VACINA. DISPONÍVEL PARA CRIANÇAS, ADOLESCENTES E ADULTOS NA REDE PARTICULAR E NO SUS.</ion-col>
         <ion-col *ngIf="vacina == 'TETRA VIRAL'" size="6">MESMA VACINA. SUS- DISPONÍVEL PARA CRIANÇAS DE 15 MESES A 4 ANOS. PARTICULAR- DISPONÍVEL PARA CRIANÇAS DE 12 MESES A 12 ANOS DE IDADE.</ion-col>
         <ion-col *ngIf="vacina == 'HPV 4'" size="6">MESMA VACINA. SUS DISPONIBILIZA PARA MENINAS DE 9 A 14 ANOS E MENINOS DE 11 A 14 ANOS. NA REDE PARTICULAR ESTÁ DISPONÍVEL PARA MULHERES DE 9 A 45 ANOS E PARA HOMENS DE 9 A 26 ANOS. Realizar a segunda dose após 6 meses.</ion-col>
         <ion-col *ngIf="vacina == 'VOP'" size="6">OFERECIDA PELO SUS NAS CAMPANHAS DE VACINAÇÃO CONTRA POLIOMIELITE E REFORÇOS DA VACINA. </ion-col>
        </ion-row>     
    </ion-grid>

  </div>
</ion-content>
