<ion-header>
  <ion-toolbar style="padding-top: 7%;">
    <ion-title mode="ios">Informações Gerais</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <p>Seja bem-vindo ao aplicativo Imunização em Dia!</p>
   <p>Este aplicativo oferece informações detalhadas com conteúdo científico sobre o calendário vacinal disponibilizado pelo Programa Nacional de Imunizações (SUS – rede pública) e o proposto pela Sociedade Brasileira de Imunizações, incluindo vacinas que só estão disponíveis na rede privada. 
    <br><br>
    Permite que você compare as diferenças entre estas vacinas de forma rápida e clara, com acesso fácil para leigos e profissionais da saúde.
    <br><br>
    Através do aplicativo você faz o cadastro das crianças/adolescentes e receberá notificações avisando que existem vacinas que precisam ser aplicadas, de forma individualizada e com antecedência. 
    <br><br>
    Você também pode confirmar as vacinas realizadas e assim manter atualizado o calendário das crianças e adolescentes!</p>
   
    <p>Mantenha as vacinas em dia e tire suas dúvidas com o aplicativo: IMUNIZAÇÃO EM DIA!</p>
  </div>
</ion-content>
