ion-header, ion-toolbar {
    --border-style: var(--border-style);
    --border: 0 none; 
    box-shadow: 0 0 0 0; 
    outline: 0;
    //--background: #f2fffc;
    --background: #c0dbd6;
    color: black;
  }
  
  .container {
    padding: 15px;
    line-height: 35px;
} 

ion-item {
  --border-style: var(--border-style);
  --border: 0 none; 
  box-shadow: 0 0 0 0; 
  outline: 0;
  padding: 0px;
  padding-left: 0px;
  //height: 70px;
  margin-top: 8px; 
  padding-bottom: 0px;
  display: flexbox;
}

ion-list {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

  /*ion-content {
    //--background: hsl(95, 60%, 96%) ;
    //--background: #e7fff9;
    //--background: #f2fffc;
    --background: #d5f8d5;
  }*/