<ion-header>
  <ion-toolbar style="padding-top: 7%;">
    <ion-title mode="ios">Caderneta de Vacinação</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
    
</ion-header>
<ion-content>
  <div class="container">
    <ion-card *ngFor="let rn of rn">
 
    <ion-card-content >
      <ion-item>
        <ion-label position="stacked" style="color: gray;">Nome</ion-label>
        <ion-input readonly>{{rn.fullname}}</ion-input>
      </ion-item>
      <ion-list >
          <ion-list-header>
            <ion-label style="color: gray; font-size: 20px; text-align: left; font-weight: normal;">
              Caderneta
            </ion-label>
            <ion-button (click)="cad(rn.id,rn.fullname); " class="add"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
          </ion-list-header>
                         
      </ion-list>
    </ion-card-content>

  </ion-card>
    
  </div>
</ion-content>
