ion-header, ion-toolbar {
    --border-style: var(--border-style);
    --border: 0 none; 
    box-shadow: 0 0 0 0; 
    outline: 0;
    //--background: #f2fffc;
    --background: #c0dbd6;
    color: black;
  }
  
  ion-text {
      text-align: center;
      margin-left: 15%;
      line-height: 2;
  }
  
  input {
      padding: 10px;
  }
  ion-content h2 {
    text-align: center;
  }
  
  .form-control {
      display: block;
      margin: auto;
      width: 70%;
      height: calc(1.5em + .75rem + 2px);
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      //background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .75rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      box-shadow: 0 0 0 0;
      outline: none;
  }
  
  ion-button {
      size: medium;
      --shape:  round;
      width: 50%;
      --background: #12c36f;
      --background-activated: #12c36f;
      display: block;
      margin: auto;
      margin-top: 10%;
  }

  small.text-success {
    background: green;
    padding: 2%;
    margin-left: 15%;
    border-radius: 9px;
    color: #fff;
}
small.text-danger {
    background:#eb445a;
    padding: 2%;
    margin-left: 15%;
    border-radius: 9px;
    color: #fff;
} 

.form-control {
    margin-top: 6% !important;
    padding: 20px !important;
}

