<ion-header>
  <ion-toolbar style="padding-top: 7%;">
    
    <ion-buttons slot="start">&nbsp;&nbsp;
      <ion-back-button defaultHref="login" text="" style="color: black;" icon="arrow-back-circle-outline"></ion-back-button>
    </ion-buttons>

    <ion-title mode="ios">Registro de Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="Login" class="list-form" action="" (submit) = "sign" style="width: 95%; margin-top:10%">

      <ion-item>
        <ion-icon name="person-outline" slot="end" size="small"></ion-icon>
        <ion-input type="text" formControlName="fullName" placeholder="Nome"></ion-input> 
        
      </ion-item>
      <p ion-text class="text08" *ngIf="Login.get('fullName').touched && Login.get('fullName').hasError('required')">
        <ion-text color="danger">
          Campo nome é obrigatório!
        </ion-text>
      </p>   
      <ion-item>
        <ion-icon name="document-text-outline" slot="end" size="small"></ion-icon>
        <ion-input type="text" formControlName="sus" placeholder="Documento" ></ion-input>        
      </ion-item>
      <p class="recado">
        <small *ngIf = "Login.get('sus').errors?.userNameTaken" class= "text-danger" >Documento já cadatrado!</small>
        <small *ngIf = "Login.get('sus').valid" class= "text-success" >Documento liberado para cadastro!</small>
      </p>
      <ion-item>
        <ion-icon name="mail-outline" slot="end" size="small"></ion-icon>
        <ion-input type="email" formControlName="email" placeholder="Digite um email válido" ></ion-input>        
      </ion-item>
      <p class="recado">
        <small *ngIf = "Login.get('email').errors?.emailTaken" class= "text-danger" >Email já cadatrado!</small>
        <small *ngIf = "Login.get('email').valid" class= "text-success" >Email liberado para cadastro!</small>
      </p>
      <ion-item>
        <ion-icon [name]="tipo ? 'eye-outline' : 'eye-off-outline'" slot="end" size="small" (click)="mostrarSenha()" style="padding-top: 5px;"></ion-icon>
        <ion-input [type]="tipo ? 'text' : 'password'"  formControlName="password" placeholder="Escolha sua senha"></ion-input>         
      </ion-item>
      <p ion-text class="text08" *ngIf="Login.get('password').touched && Login.get('password').hasError('required')">
        <ion-text color="danger">
          Campo senha é obrigatório!
        </ion-text>
      </p>     

          
    </form>
    
    <ion-button (click)="signup();" [disabled]="!Login.valid" icon-right>
      <ion-icon name="checkmark-sharp"></ion-icon>&nbsp;
    </ion-button>
</ion-content>
