<ion-header>
  <ion-toolbar style="padding-top: 7%;">
    <ion-title mode="ios">COVID-19</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <p>Coronavírus (CoV) são uma grande família de vírus.</p>
    <p>Podem causar desde resfriados comuns até doenças mais graves, como a síndrome respiratória do Oriente Médio (MERS), a síndrome respiratória aguda severa (SARS) e, mais recentemente, a COVID-19. Assim como outros vírus, o SARS-CoV-2 sofre mutações ao longo do tempo.</p>
    <p>As pessoas podem ter COVID-19 mais de uma vez e ainda não se sabe exatamente quanto tempo dura a imunidade após a infecção natural. Evidências até o momento mostram que a reinfecção é rara após 90 dias da doença.</p>
    <p>As vacinas COVID-19 licenciadas para uso emergencial no Brasil demonstraram segurança e eficácia nos estudos clínicos. </p>
    <p>Não há garantias de que a vacina previna a infecção e a consequente transmissão do vírus. Também não se sabe se as vacinas licenciadas serão eficazes contra novas variantes. Por isso, os vacinados devem manter as medidas preventivas orientadas pela OMS.</p>
    <p>A vacinação é a única forma segura e eficaz de prevenir a COVID-19</p>
    <p>As vacinas aprovadas para uso no Brasil pela Agência Nacional de Vigilância Sanitária (Anvisa) são seguras e eficazes e não existe a possibilidade de adquirir a COVID-19 por meio das vacinas, são vacinas inativadas, não replicantes.</p>
    <p>Pacientes que usam imunoglobulina humana devem ser vacinados com pelo menos um mês de intervalo.</p>
    <p>Pessoas que já tiveram COVID-19 devem ser vacinadas após quatro semanas do início dos sintomas ou do resultado positivo no exame RTPCR, desde que estejam bem e sem sintomas.</p>
    <p>Imunossuprimidos: como toda vacina inativada, a CoronaVac é geralmente utilizada com segurança em pessoas imunossuprimidas, inclusive em tratamento de câncer. </p>
    <p>Reconhecido no Brasil e no exterior, o PNI é um dos maiores programas de imunização do mundo — atende a aproximadamente 211,8 milhões de pessoas. Trata-se de um patrimônio do estado brasileiro, mantido pelo comprometimento e dedicação de profissionais da saúde, gestores e de toda a população</p>
    <p>A ampla expertise acumulada ao longo de décadas habilita o PNI a promover a vacinação contra a COVID-19.</p>

    <ion-list>
      <p><b>Vacinas licenciadas no Brasil:</b></p>
      <ion-item (click)="toVacinas('Fiocruz/Universidade de Oxford/AstraZeneca')">
        <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
        <p>Fiocruz/Universidade de Oxford/AstraZeneca</p>
      </ion-item>
      <ion-item (click)="toVacinas('Instituto Butantan/Sinovac (CoronaVac)')">
        <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
        <p>Instituto Butantan/Sinovac (CoronaVac)</p>
      </ion-item>
      <ion-item (click)="toVacinas('Janssen Pharmaceuticals/Johnson & Johnson (Ad26.COV2.S)')">
        <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
        <p>Janssen Pharmaceuticals/Johnson & Johnson (Ad26.COV2.S)</p>
      </ion-item>
      <ion-item (click)="toVacinas('Pfizer/BioNTech (COMIRNATY)')">
        <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
        <p>Pfizer/BioNTech (COMINARTY)</p>
      </ion-item>
      <!--<ion-item href="https://familia.sbim.org.br/covid-19" detail="false">
        <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
        <ion-icon name="open-outline" size="small" slot="end"></ion-icon>
        <p>Mais informações no site</p>
      </ion-item>-->
    </ion-list>
  </div>
</ion-content>
