<ion-toolbar style="padding-top: 7%;">
  <ion-title mode="ios">Autores</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button color="dark"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-list>
		 
  
    <ion-item-group >
    <ion-item lines="none">
      <ion-label><p>Autor(a)</p></ion-label>
    </ion-item>

    <ion-item >
      <ion-label text-wrap>
        <h2>Adriana de Souza Rosa</h2>
        <p>Graduação em Medicina pela Universidade do Vale do Sapucaí – UNIVÁS (1996); Residência médica em Pediatria no Hospital das Clínicas “Samuel Libânio” (1998); Residência médica em Neonatologia no Hospital Municipal Maternidade Dr. Mário de M. A. Silva – credenciado pela SBP (2000); Pós-graduação Lato Sensu em Assistência Hospitalar ao Neonato (2011); Professora colaboradora no curso de graduação em Medicina da Universidade do Vale do Sapucaí.</p>
      </ion-label>
    </ion-item>
    </ion-item-group>

    <ion-item-group>
    
    <ion-item lines="none">
      <ion-label><p>Orientador(a)</p></ion-label>
    </ion-item>
      
    <ion-item >
      <ion-label text-wrap>
        <h2>Fiorita Gonzales Lopes Mundim</h2>
        <p>Graduação em Medicina pela Universidade do Vale do Sapucaí - UNIVÁS (1996), Residência Médica em Anatomia Patológica pelo Hospital das Clínicas Samuel Libânio da UNIVÁS (1999), Título de Especialista em Patologia (SBP/AMB-2009) e Título de Especialista em Citopatologia (SBC/AMB-2016). Mestrado em Patologia pela Universidade Federal de São Paulo - UNIFESP-EPM (2009), Doutorado em Patologia pela Universidade Federal de São Paulo - UNIFESP-EPM (2012), Pós-Graduada Lato Sensu em Medicina do Trabalho e Perícia Médica pela Universidade Brasil (2017) e Pós-Doutoranda no Departamento de Ginecologia, área de concentração em Mastologia pela UNIFESP/EPM, Membro efetivo da Sociedade Brasileira de Patologia (SBP), da European Society of Pathology (ESP) e da Sociedade Brasileira de Citopatologia (SBC).</p>
      </ion-label>
    </ion-item>
    </ion-item-group>
    <ion-item-group>
    <ion-item lines="none">
        <ion-label><p>Coorientadores(as)</p></ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        <h2>Anna Luiza Pires Vieira</h2>
        <p>Graduação em Medicina pela Universidade do Vale do Sapucaí – UNIVÁS (1994); Título de Especialista em Residência Médica em Pediatria (1996); Título de Especialista em Neonatologia pela Universidade Federal de São Paulo (1998); Título de Mestre em Pediatria pelo Programa de Pós-graduação em Pediatria e Ciências Aplicadas à Pediatria da Universidade Federal de São Paulo (2003); Título de Doutor em Medicina pelo Programa de Pós-graduação em Pediatria e Ciências Aplicadas à Pediatria da Universidade Federal de São Paulo (2009); Instrutora do Curso de Reanimação Neonatal e Transporte Neonatal pela SBP.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        <h2>Geraldo Magela Salomé</h2>
        <p>Graduação em Enfermagem e Obstetrícia pela Faculdade de Enfermagem e Obstetrícia de Passos; Mestrado em Enfermagem pela Universidade Federal de São Paulo; Doutorado em Cirurgia Plástica pela Universidade Federal de São Paulo; Pós-Doutorado pela Universidade Federal de São Paulo com bolsa pela CAPES.</p>
      </ion-label>
    </ion-item>
    
    </ion-item-group>
    <ion-item-group>  
    <ion-item lines="none">
        <ion-label><p>Desenvolvedor(a)</p></ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label text-wrap>
        <h2>Jessica Helena Araujo</h2>
        <p>Engenheira da Computação pelo Instituto Nacional de Telecomunicações-INATEL. Aplicações web.</p>
      </ion-label>
    </ion-item>   
    
    
    </ion-item-group>

    <ion-item-group>  
      <ion-item lines="none">
          <ion-label><p>Colaborador(es)</p></ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label text-wrap>
          <h2>Mariane de Oliveira Diogo Scussel</h2>
          <p>Discente do curso de Medicina da Universidade do Vale do Sapucaí – MG.</p>
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label text-wrap>
          <h2>Marina Rodrigues Pesci</h2>
          <p>Discente do curso de Medicina da Universidade do Vale do Sapucaí – MG.</p>
        </ion-label>
        
      </ion-item>
      <ion-item>
        <ion-label text-wrap>
          <h2>Mateus Rosa dos Santos</h2>
          <p>Estudante do 3º ano do Ensino médio.</p>
        </ion-label>
        
      </ion-item>
      </ion-item-group>
  </ion-list>	
<br><br>
</ion-content>
