ion-header, ion-toolbar {
    --border-style: var(--border-style);
    --border: 0 none; 
    box-shadow: 0 0 0 0; 
    outline: 0;
    //--background: #f2fffc;
    --background: #c0dbd6;
    color: black;
  }
  
 /* ion-content {
    //--background: hsl(95, 60%, 96%) ;
    //--background: #e7fff9;
    //--background: #f2fffc;
    --background: #d5f8d5;
  }*/