<ion-header>
  <ion-toolbar style="padding-top: 7%;">
    <ion-title mode="ios">PNI</ion-title>
    <!--<ion-buttons slot="start">&nbsp;&nbsp;
      <ion-back-button defaultHref="home" text="" style="color: white;" icon="arrow-back-circle-outline"></ion-back-button>
    </ion-buttons>-->
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-searchbar [(ngModel)]="filterItem" mode="ios" placeholder="Buscar"></ion-searchbar>
  <ion-list *ngFor="let vacina of vacinas | filter: filterItem">
    <ion-item>{{vacina.nome}}</ion-item>
  </ion-list>-->

  <ion-card (click)="toggle(16)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle1"></ion-icon>
      <ion-label>Ao nascer</ion-label>
    </ion-item>

    <ion-card-content id="16">
      <ion-list>
        <ion-item (click)="toVacinas('Vacina BCG')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina BCG</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Hepatite B')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Hepatite B</p>
        </ion-item>
      </ion-list>
    </ion-card-content>    
  </ion-card>

  <ion-card (click)="toggle(17)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle2"></ion-icon>
      <ion-label>2 meses</ion-label>
    </ion-item>

    <ion-card-content id="17">
      <ion-list>
        <ion-item (click)="toVacinas('Vacina Rotavírus')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Rotavírus monovalente (1ª dose)</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Tríplice Bacteriana de Células Inteiras Combinadas Com Hib e Hepatite B (DTPw-HB/Hib)')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Pentavalente de células inteiras (DTPw-HB/Hib - 1ª dose)</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Poliomielite')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina VIP (1ª dose)</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacinas Pneumocócicas Conjugadas')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Pneumoncócica conjugada 10 (1ª dose)</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(18)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle3"></ion-icon>
      <ion-label>3 meses</ion-label>
    </ion-item>

    <ion-card-content id="18">
      <ion-list>
        <ion-item (click)="toVacinas('Vacina Meningocócica C Conjugada')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Meningocócica C (1ª dose)</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(19)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle4"></ion-icon>
      <ion-label>4 meses</ion-label>
    </ion-item>

    <ion-card-content id="19">
      <ion-list>
        <ion-item (click)="toVacinas('Vacina Rotavírus')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Rotavírus monovalente (2ª dose)</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Tríplice Bacteriana de Células Inteiras Combinadas Com Hib e Hepatite B (DTPw-HB/Hib)')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Pentavalente de células inteiras (DTPw-HB/Hib - 2ª dose)</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Poliomielite')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina VIP (2ª dose)</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacinas Pneumocócicas Conjugadas')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Pneumoncócica conjugada 10 (2ª dose)</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(20)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle5"></ion-icon>
      <ion-label>5 meses</ion-label>
    </ion-item>

    <ion-card-content id="20">
      <ion-list>
        <ion-item (click)="toVacinas('Vacina Meningocócica C Conjugada')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Meningocócica C (2ª dose)</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(21)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle6"></ion-icon>
      <ion-label>6 meses</ion-label>
    </ion-item>

    <ion-card-content id="21">
      <ion-list>
        <ion-item (click)="toVacinas('Vacina Tríplice Bacteriana de Células Inteiras Combinadas Com Hib e Hepatite B (DTPw-HB/Hib)')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Pentavalente de células inteiras (DTPw-HB/Hib - 3ª dose)</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Poliomielite')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina VIP (3ª dose)</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Gripe/Influenza')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Influenza</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(22)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle7"></ion-icon>
      <ion-label>9 meses</ion-label>
    </ion-item>

    <ion-card-content id="22">
      <ion-list>
        <ion-item (click)="toVacinas('Vacina Febre Amarela')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Febre Amarela</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(23)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle8"></ion-icon>
      <ion-label>12 meses</ion-label>
    </ion-item>

    <ion-card-content id="23">
      <ion-list>
        <ion-item (click)="toVacinas('Vacinas Pneumocócicas Conjugadas')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Pneumocócica Conjugada 10 - 1º reforço</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Meningocócica C Conjugada')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Meningocócica C - 1º reforço</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Tríplice Viral (Sarampo, Caxumba e Rubéola) - SRC')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Tríplice Viral - 1ª dose</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(24)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle9"></ion-icon>
      <ion-label>15 meses</ion-label>
    </ion-item>

    <ion-card-content id="24">
      <ion-list>
        <ion-item (click)="toVacinas('Vacina Tríplice Bacteriana de Células Inteiras - DTPw')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina DTPw - 1º reforço</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Poliomielite')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina VOP - 1º reforço</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Tetraviral (Sarampo, Caxumba, Rubéola e Varicela) - SRC-V')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Tetra Viral</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Hepatite A')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Hepatite A</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(25)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle10"></ion-icon>
      <ion-label>4 anos</ion-label>
    </ion-item>

    <ion-card-content id="25">
      <ion-list>
        <ion-item (click)="toVacinas('Vacina Tríplice Bacteriana de Células Inteiras - DTPw')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina DTPw - 2º reforço</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Poliomielite')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina VOP - 2º reforço</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Febre Amarela')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Febre Amarela - reforço</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Varicela')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Varicela - 2ª dose</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(26)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle11"></ion-icon>
      <ion-label>9 anos</ion-label>
    </ion-item>

    <ion-card-content id="26">
      <ion-list>
        <ion-item (click)="toVacinas('Vacina HPV4')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina HPV</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(27)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle12"></ion-icon>
      <ion-label>10 - 19 anos</ion-label>
    </ion-item>

    <ion-card-content id="27">
      <ion-list>
        <ion-item (click)="toVacinas('Vacina Hepatite B')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Hepatite B</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Febre Amarela')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Febre Amarela</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Tríplice Viral (Sarampo, Caxumba e Rubéola) - SRC')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Tríplice Viral</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina HPV4')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina HPV</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Meningocócica Conjugada - ACWY')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Meningocócica Conjugada ACWY</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Dupla Bacteriana do Tipo Adulto – dT')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Dupla Bacteriana tipo adulto (dT)</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Tríplice Bacteriana Acelular do Tipo Adulto com Poliomielite – dTpa-VIP')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Tríplice Bacteriana Acelular tipo adulto (dTpa)</p>
        </ion-item>

        <ion-item (click)="toVacinas('Pfizer/BioNTech (COMIRNATY)')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Covid-19 - vacina Pfizer/Biontech : 2 doses com intervalo de 8 a 12 semanas.</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>