.logoMestrado {
  //margin-top: 10px;
  display: block;
  margin: auto;
  margin-top: 10%;
}

.logo {
    display: block;
    margin-left: 15%;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 50%;
}

.nome {
    font-family: Lucida Handwriting, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-around;
    padding: 10px;
    width: 80%;
    color: #074202;
    font-size: 22px;
    margin-top: -30%;
    word-break: break-word;
    margin-left: 19%;
    margin-bottom: 40%;
}

.cadastro {
    font-size: small;
    text-decoration: underline;
    text-align: center;
    display: block;
    margin: auto;
    color: rgb(91, 91, 91);
    padding: 8px;
}

ion-text {
    /*text-align: center;
    margin-left: 15%;
    line-height: 2;*/
    margin-left: 11%;
}

ion-item {
    width: 80%;
    margin-left: 10%;
    padding: 1%;
    border-radius: 18px;
}

input {
  //  padding: 10px;
}

.form-control {
   /* display: block;
    margin: auto;
    width: 70%;
    height: calc(1.5em + .75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    //background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: 0 0 0 0;
    outline: none;
    margin-top: 5%;
    padding:22px;*/
}

ion-button {
    size: medium;
    --shape:  round;
    width: 79%;
    --background: #12c36f;
    --background-activated: #12c36f;
    display: block;
    margin: auto;
}
ion-content {
    
    --background: url('/assets/img/login.jpg') no-repeat center / cover !important;
}

.ForgotPasswordText {
    color: #074202;
    font-size: 16px; //13.5
    font-family: 'Lato-Regular';
    text-align: center;
    margin-left: 120px;
}