<ion-content style="padding-top: 7%;">
  <div>
  <img src="/assets/img/logo1.png" class="logo"/>
  <ion-text class="nome">Imunização em Dia</ion-text>
  </div>

    <form [formGroup]="Login" class="list-form" action="">

      <ion-item>
        <ion-input type="text" class="form-control" id="" placeholder="Documento" formControlName="nome"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="Login.get('nome').touched && Login.get('nome').hasError('required')">Campo obrigatório!</ion-text>
            
      <ion-item>
        <ion-icon [name]="tipo ? 'eye-outline' : 'eye-off-outline'" slot="end" size="small" (click)="mostrarSenha()" style="padding-top: 5px;"></ion-icon>
        <ion-input type="password" [type]="tipo ? 'text' : 'password'" class="form-control" id="" placeholder="Digite sua senha" formControlName="password"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="Login.get('password').touched && Login.get('password').hasError('required')">Campo obrigatório!</ion-text>

      
    </form>
    <br>
    <ion-button icon-right (click)="toHome()" [disabled]="!Login.valid" tappable>
      <ion-icon name="log-in" slot="end"></ion-icon>&nbsp;Entrar
    </ion-button>
    <div style="margin-top: 25px;" class="ForgotPasswordText" (click)="forgotPassword()"><span>Esqueci minha senha</span></div>
    <br>
    <ion-text class="cadastro" (click)="toSignup()">Cadastrar conta</ion-text>

    <div text-center>
      <img width="180px" src="/assets/img/logo_Mestrado.png" class="logoMestrado"> 
    </div>
</ion-content>
