/*ion-content {
    //--background: hsl(95, 60%, 96%) ;
    //--background: #e7fff9;
    //--background: #f2fffc;
    --background: #d5f8d5;
}*/

ion-icon {
    color: gray;
}

ion-list {
    --border-style: var(--border-style);
    --border: 0 none; 
    box-shadow: 0 0 0 0; 
    outline: 0;
    //--background: #f2fffc;
    background: transparent;
    color: black;
    padding: 0px;
}

ion-item, ion-menu{
    --border-style: var(--border-style);
    --border: 0 none; 
    box-shadow: 0 0 0 0; 
    outline: 0;
    //--background: #f2fffc;
    --background: transparent;
    color: black;
}

ion-toolbar, ion-menu {
    --border-style: var(--border-style);
    --border: 0 none; 
    box-shadow: 0 0 0 0; 
    outline: 0;
    //--background: #f2fffc;
    --background: #c0dbd6;
    color: black;
}

.legendaC {
    margin-top:-30px;
    margin-left: 75px;

}

.legenda {
    margin-top:-30px;
    margin-left: 95px;
}

.ref {
    font-size: 20px !important;
}