<ion-app>
  <ion-menu side="start" type="push" contentId="main">
    <ion-toolbar class="user-profile" style="margin-top: 7%;">
      <ion-item class="item-inner-else">
      <!--<ion-avatar slot="start" class="user-avatar"><img src="{{urlFoto}}"></ion-avatar>-->
        <ion-label><h1><strong>Vacina</strong></h1></ion-label>
      </ion-item>
    </ion-toolbar>

    <ion-content>
      <ion-list>
        <ion-item (click)="toHome()">
          <ion-icon name="home" size="small" slot="start"></ion-icon>
          <ion-label>Imunização em dia</ion-label>  
        </ion-item>

        <ion-item (click)="info()">
          <ion-icon name="create-outline" size="small" slot="start"></ion-icon>
          <ion-label>Informações Gerais</ion-label>  <!--src="/assets/icon/id-card-regular.svg"-->
        </ion-item>

        <ion-item (click)="toAutores()">
          <ion-icon name="reader" size="small" slot="start"></ion-icon>
          <ion-label>Autores/Desenvolvedores</ion-label>
        </ion-item>

        <ion-item (click)="caderneta()">
          <ion-icon name="id-card" size="small" slot="start"></ion-icon>
          <ion-label>Caderneta de Vacinação</ion-label>  <!--src="/assets/icon/id-card-regular.svg"-->
        </ion-item>

         <!--<ion-item>
          <ion-icon name="information-circle-outline" size="small" slot="start"></ion-icon>
          <ion-label>Legenda</ion-label>
  
        </ion-item>
      <ion-item>
          <div style="height: 150px;">
            
            <ion-chip outline color="primary">
              <ion-label>SUS</ion-label>              
            </ion-chip>
            <ion-label class="legenda">Vacinas Públicas</ion-label><br>
            
            <ion-chip outline color="success"> 
              <ion-label>Particular</ion-label>
            </ion-chip>
            <ion-label class="legenda">Vacinas Particulares</ion-label><br>

            <ion-chip outline color="warning">
              <ion-label>COMP</ion-label>
            </ion-chip>
            <ion-label class="legendaC">Comparação das Vacinas</ion-label>
         
        </div>
        </ion-item>-->

        <ion-item (click)="toPrograma()">
          <ion-icon name="medical" size="small" slot="start"></ion-icon>
          <ion-label>Rede Pública</ion-label> <!-- src="/assets/icon/hospital-regular.svg"-->
        </ion-item>

        <ion-item (click)="toSociedade()">
          <ion-icon src="/vacina/assets/icon/building-regular.svg" size="small" slot="start"></ion-icon>
          <ion-label>Rede Particular/Privada</ion-label>  
        </ion-item>

        <ion-item (click)="toPrematuros()">
          <ion-icon src="/vacina/assets/icon/baby-carriage-solid.svg" size="small" slot="start"></ion-icon>
          <ion-label>Prematuros</ion-label>  
        </ion-item>

        <ion-item (click)="toCovid()">
          <ion-icon src="/vacina/assets/icon/virus-solid.svg" size="small" slot="start"></ion-icon>
          <ion-label>Covid-19</ion-label>  
        </ion-item>

        <!--<ion-item>
          <ion-icon name="play-outline" size="small" slot="start"></ion-icon>
          <ion-label>Tutorial</ion-label>
        </ion-item>-->

        <ion-item></ion-item><ion-item></ion-item>

        <ion-item (click)="toEditUser()">
          <ion-icon src="/vacina/assets/icon/user.svg" size="small" slot="start"></ion-icon>
          <ion-label>Edição Usuário</ion-label>
        </ion-item>

        <ion-item (click)="toEditRn()">
          <ion-icon src="/vacina/assets/icon/child.svg" size="small" slot="start"></ion-icon>
          <ion-label>Edição Criança/Adolescente</ion-label>
        </ion-item>

        

        <ion-item (click)="toReferencias()">
          <ion-icon name="library-outline" ssize="small" slot="start" style="font-size: 20px;"></ion-icon>
          <ion-label>Referências</ion-label>
        </ion-item>

        <ion-item (click)="cadastro()">
          <ion-icon name="duplicate" size="small" slot="start"></ion-icon>
          <ion-label>Cadastro</ion-label>
        </ion-item>

        <ion-item (click)="logout()">
          <ion-icon name="exit" size="small" slot="start"></ion-icon>
          <ion-label>Sair</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
