<ion-toolbar style="padding-top:7%;">
  <ion-title mode="ios">Cadastro Criança/Adolescente</ion-title>
  <ion-buttons slot="start">&nbsp;&nbsp;
    <ion-back-button defaultHref="home" text="" style="color: black;" icon="arrow-back-circle-outline"></ion-back-button>
  </ion-buttons>

</ion-toolbar>

<ion-content>

  <form [formGroup]="Login" class="list-form" action="" (submit) = "sign">
    
    <div class = 'input-login' style="margin-bottom: 10px;">
      <ion-item>
        <ion-input type="text" name = "fullname" class="form-control" id="" formControlName="fullname" placeholder="Nome"></ion-input> 
        <p ion-text class="text08" *ngIf="Login.get('fullname').touched && Login.get('fullname').hasError('required')">
          <ion-text color="danger">
            Campo Nome é obrigatório!
          </ion-text>
        </p> 
      </ion-item>    
      <ion-item>
        <ion-icon name="calendar-outline" slot="end" size="small"></ion-icon>
        <ion-datetime  name = "data_nascimento" formControlName="data_nascimento" (ionChange)="opt2($event)" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" placeholder="Data de nascimento"></ion-datetime>
        <p ion-text class="text08" *ngIf="Login.get('data_nascimento').touched && Login.get('data_nascimento').hasError('required')">
          <ion-text color="danger">
            Campo Nome é obrigatório!
          </ion-text>
        </p>     
      </ion-item>
      <ion-item>
        <ion-label>Tipo de Gestação</ion-label>
        <ion-select formControlName="gestacao" name = "gestacao" (ionChange)="opt3($event)">
          <ion-select-option value="normal">Normal</ion-select-option>
          <ion-select-option value="prematuro">Prematuro</ion-select-option>
        </ion-select>
        <p ion-text class="text08" *ngIf="Login.get('gestacao').touched && Login.get('gestacao').hasError('required')">
          <ion-text color="danger">
            Campo Nome é obrigatório!
          </ion-text>
        </p>     
      </ion-item>
      <br>
    </div>             
  </form>
  
  <ion-button [disabled]="!(Login.value.fullname && Login.value.gestacao && Login.value.data_nascimento)" (click)="gotohome();atualizar(); " class="add"><ion-icon name="add-circle-outline"></ion-icon></ion-button>

</ion-content>
