ion-header, ion-toolbar {
    --border-style: var(--border-style);
    --border: 0 none; 
    box-shadow: 0 0 0 0; 
    outline: 0;
    //--background: #f2fffc;
    --background: #c0dbd6;
    color: black;
  }
  
  /*ion-content {
    //--background: hsl(95, 60%, 96%) ;
    //--background: #e7fff9;
    //--background: #f2fffc;
    --background: #d5f8d5;
  }*/

  ion-input, ion-datetime {
    border-style: var(--border-style);
    border: 0 none;
    width: 100%;
    box-shadow: 0 0 0 0; 
    outline: 0;
    padding: 0px;
    //height: 70px;
    margin-top: 8px; 
    padding-bottom: 0px;
    display: flex;
  }

  ion-item {
    //--border-style: var(--border-style);
    //--border: 0 none; 
    //border: 1px solid lightgray;
    //border-radius: 20px;
    width: 100%;
    box-shadow: 0 0 0 0; 
    outline: 0;
    padding: 0px;
    //height: 70px;
    margin-top: 8px; 
    padding-bottom: 0px;
    display: flex;
  }

  form {
    padding: 15px;
    margin-top: 10%;
  }

  ion-button {
    size: medium;
    --shape:  round;
    width: 70%;
    --background: #006600;
    --background-activated: #006600;
    display: block;
    margin: auto;
}

.add {
  size: small;
  --shape:  round;
  width: fit-content;
  --background: #006600;
  --background-activated: #006600;
  display: block;
  margin: 0% 0% 0% 80%;
}