#container {
    text-align: center;
  
    position: absolute;
    margin-top: 14%;
    left: 0;
    right: 0;
    /*top: 40%;
    transform: translateY(-50%);*/
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 20px;
  
    color: black;
    //font-weight: bold;
    //text-decoration: underline;
  
    margin: 0;
    margin-top: 15px;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-header, ion-toolbar {
    --border-style: var(--border-style);
    --border: 0 none; 
    box-shadow: 0 0 0 0; 
    outline: 0;
    //--background: #f2fffc;
    --background:#2dd36f;
    color: white;
  }

  ion-item {
    --border-style: var(--border-style);
    --border: 0 none; 
    box-shadow: 0 0 0 0; 
    outline: 0;
    padding: 0px;
    //height: 50px;
    margin-top: 8px; 
    padding-bottom: 0px;
  }

  ion-card-content {
    padding-left: 20px; 
    padding-top: 0px; 
    //padding-bottom: 0px; 
    display: none;
  }

  /*ion-content {
    //--background: hsl(95, 60%, 96%) ;
    //--background: #e7fff9;
    //--background: #f2fffc;
    --background: #d5f8d5;
  }*/
  
  