<ion-header >
  <ion-toolbar style="padding-top: 7%;">
    <ion-title mode="ios">SBIM</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="toggle(28)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle1"></ion-icon>
      <ion-label>Ao nascer</ion-label>
    </ion-item>
  
    <ion-card-content id="28">
      <ion-list>
        <ion-item (click)="toVacinas('Vacina BCG')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina BCG</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Hepatite B')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Hepatite B</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(29)">
    <ion-item >
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle2"></ion-icon>
      <ion-label>2 meses</ion-label>
    </ion-item>

    <ion-card-content id="29">
      <ion-list>
        <ion-item (click)="toVacinas('Vacina Rotavírus')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Rotavírus Pentavalente (1ª dose)</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacinas Combinadas à DTPa - Hexa Acelular')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Hexavalente acelular (DTPa-VIP-HB/Hib - 1ª dose)</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacinas Pneumocócicas Conjugadas')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Pneumoncócica conjugada 13 (1ª dose)</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(30)">
    <ion-item >
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle3"></ion-icon>
      <ion-label>3 meses</ion-label>
    </ion-item>
  
    <ion-card-content id="30">
      <ion-list>
        <ion-item (click)="toVacinas('Vacina Meningocócica Conjugada - ACWY')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Meningocócica Conjugada ACWY (1ª dose)</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Meningocócica B')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Meningocócica B (1ª dose)</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(31)">
    <ion-item >
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle4"></ion-icon>
      <ion-label>4 meses</ion-label>
    </ion-item>
  
    <ion-card-content id="31">
      <ion-list>
        <ion-item (click)="toVacinas('Vacina Rotavírus')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Rotavírus Pentavalente (2ª dose)</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacinas Combinadas à DTPa - Hexa Acelular')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Hexavalente Acelular (DTPa-VIP-HB/Hib - 2ª dose)</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacinas Pneumocócicas Conjugadas')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Pneumocócica Conjugada 13 (2ª dose)</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(32)">
    <ion-item >
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle5"></ion-icon>
      <ion-label>5 meses</ion-label>
    </ion-item>
  
    <ion-card-content id="32">
      <ion-list>
        <ion-item (click)="toVacinas('Vacina Meningocócica Conjugada - ACWY')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Meningocócica Conjugada ACWY (2ª dose)</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Meningocócica B')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Meningocócica B (2ª dose)</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(33)">
    <ion-item >
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle6"></ion-icon>
      <ion-label>6 meses</ion-label>
    </ion-item>
  
    <ion-card-content id="33">
      <ion-list>
        <ion-item (click)="toVacinas('Vacinas Combinadas à DTPa - Hexa Acelular')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Hexavalente Acelular (DTPa-VIP-HB/Hib - 3ª dose)</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Rotavírus')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Rotavírus Pentavalente (3ª dose)</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacinas Pneumocócicas Conjugadas')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Pneumocócica Conjugada 13 (3ª dose)</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Gripe/Influenza')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Influenza</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(34)">
    <ion-item >
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle7"></ion-icon>
      <ion-label>9 meses</ion-label>
    </ion-item>
  
    <ion-card-content id="34">
      <ion-list>
        <ion-item (click)="toVacinas('Vacina Febre Amarela')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Febre Amarela</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(35)">
    <ion-item >
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle8"></ion-icon>
      <ion-label>12 meses</ion-label>
    </ion-item>
  
    <ion-card-content id="35">
      <ion-list>
        <ion-item (click)="toVacinas('Vacinas Pneumocócicas Conjugadas')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Pneumocócica Conjugada 13 - reforço</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Meningocócica Conjugada - ACWY')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Meningocócica Conjugada ACWY - reforço</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Meningocócica B')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Meningocócica B - reforço</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Tetraviral (Sarampo, Caxumba, Rubéola e Varicela) - SRC-V')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Tetraviral Viral - (SRC + Varicela) - 1ª dose</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Hepatite A')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Hepatite A - 1ª dose</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(36)">
    <ion-item >
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle9"></ion-icon>
      <ion-label>15 meses</ion-label>
    </ion-item>
  
    <ion-card-content id="36">
      <ion-list>
        <ion-item (click)="toVacinas('Vacinas Combinadas à DTPa - Penta Acelular')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Pentavalente Acelular (DTPa-Hib/VIP) - reforço</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Tetraviral (Sarampo, Caxumba, Rubéola e Varicela) - SRC-V')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Tetraviral - 2ª dose</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(37)">
    <ion-item >
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle10"></ion-icon>
      <ion-label>18 meses</ion-label>
    </ion-item>
  
    <ion-card-content id="37">
      <ion-list>
        <ion-item (click)="toVacinas('Vacina Hepatite A')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Hepatite A - 2ª dose</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(38)">
    <ion-item >
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle11"></ion-icon>
      <ion-label>4 anos</ion-label>
    </ion-item>
  
    <ion-card-content id="38">
      <ion-list>
        <ion-item (click)="toVacinas('Vacina Tríplice Bacteriana Acelular Infantil - DTPa')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Tríplice Bacteriana Acelular Infantil (DTPa) ou Tríplice Bacteriana Acelular tipo Adulto (dTpa) - 2º reforço</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Tríplice Bacteriana Acelular do Tipo Adulto com Poliomielite – dTpa-VIP')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina VIP - 2º reforço</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Meningocócica Conjugada - ACWY')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Meningocócica Conjugada ACWY - reforço</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Febre Amarela')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Febre Amarela - 2ª dose / 1º reforço</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(39)">
    <ion-item >
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle12"></ion-icon>
      <ion-label>9 anos</ion-label>
    </ion-item>
  
    <ion-card-content id="39">
      <ion-list>
        <ion-item (click)="toVacinas('Vacina HPV4')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina HPV4</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Tríplice Bacteriana Acelular do Tipo Adulto - dTpa')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Tríplice Bacteriana Acelular tipo Adulto (dTpa) - reforço</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Dengue')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Dengue</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(40)">
    <ion-item >
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle13"></ion-icon>
      <ion-label>10 - 19 anos</ion-label>
    </ion-item>
  
    <ion-card-content id="40">
      <ion-list>
        <ion-item (click)="toVacinas('Vacina Tríplice Viral (Sarampo, Caxumba e Rubéola) - SRC')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Tríplice Viral</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Hepatite A')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Hepatite A</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Hepatite B')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Hepatite B</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina HPV4')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina HPV4</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Tríplice Bacteriana Acelular do Tipo Adulto com Poliomielite – dTpa-VIP')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Tríplice Bacteriana Acelular tipo Adulto (dTpa ou dTpa-VIP)</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Dupla Bacteriana do Tipo Adulto – dT')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Dupla tipo Adulto (dT)</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Varicela')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Varicela</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Gripe/Influenza')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Influenza</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Meningocócica Conjugada - ACWY')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Meningocócica Conjugada ACWY</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Meningocócica B')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Meningocócica B</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Febre Amarela')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Febre Amarela</p>
        </ion-item> 
        <ion-item (click)="toVacinas('Vacina Dengue')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacina Dengue</p>
        </ion-item>
        <ion-item (click)="toVacinas('Pfizer/BioNTech (COMIRNATY)')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Covid-19 - vacina Pfizer/Biontech : 2 doses com intervalo de 8 a 12 semanas.</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>