
  <ion-toolbar style="padding-top: 7%;">
    <ion-title mode="ios">Imunização em Dia</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

<ion-content [fullscreen]="true">

  
  <div id="container">
    <p style="font-size: large;">Olá, <b>{{nome}}</b></p><br>
    <!--<ion-button expand="block" (click)="scheduleNotification()">Schedule</ion-button>
    <ion-button  expand="block" (click)="recurringNotification()" >Every Minute</ion-button>
    <ion-button  expand="block" (click)="repeatingDaily()">Daily</ion-button>
    <ion-button  expand="block" (click)="getAll()">get All</ion-button>
    -->
   <!-- <ion-toolbar class="fixado" style="margin-bottom: 35%;">
      <p style="font-size: large;">Olá, <b>{{nome}}</b></p><br>
      <ion-grid >
        <ion-row>
          <ion-col>
            <ion-chip outline color="primary">
              <ion-label>SUS</ion-label>
            </ion-chip>
          </ion-col>

          <ion-col>
            <ion-chip outline color="success"> 
              <ion-label>Particular</ion-label>
            </ion-chip>
          </ion-col>

          <ion-col>
            <ion-chip outline color="danger">
              <ion-label>Ambas</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>

        <ion-row (click)="toComparacao()">
          <ion-chip outline color="warning">
            <ion-label>Comparação SUS/Particular</ion-label>
          </ion-chip>
        </ion-row>
      </ion-grid>

    </ion-toolbar>-->
 <div>
   
     <ion-card *ngFor="let rn of rn">       
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked" style="color: gray;">Nome</ion-label>
          <ion-input readonly>{{rn.fullname}}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" style="color: gray;">Data de nascimento</ion-label>
          <ion-input readonly>{{rn.data_nascimento}}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" style="color: gray;">Idade</ion-label>
          <ion-input readonly>{{rn.idade}}</ion-input>
        </ion-item>
        <ion-list >
            <ion-list-header>
              <ion-label style="color: gray; font-size: 18px; text-align: left; font-weight: normal;">
                Vacinas a tomar 
              </ion-label>
              <ion-button (click)="vacinasTomar(rn.idade,rn.id); "><ion-icon name="add-circle-outline" style="color: indigo;"></ion-icon></ion-button>
            </ion-list-header>
                           
        </ion-list>
      </ion-card-content>
    </ion-card>
      

   
  </div>
   
    <!--<div text-center style="margin-top: 10%;">
      <img width="180px" src="/assets/img/logo_Mestrado.png" > 
    </div>--> 
  </div>
</ion-content>