<ion-header>
  <ion-toolbar style="padding-top: 7%;">
    <ion-title mode="ios">Prematuros</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
 
</ion-header>

<ion-content>
  <p style="padding: 20px; padding-bottom: 0px;">Vacinas e imunoglobulinas recomendadas no 1º ano de vida:</p>

  <ion-card (click)="toggle(1)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle1"></ion-icon>
      <ion-label>BCG</ion-label>
    </ion-item>

    <ion-card-content id="1">
      <ion-list>
        <ion-item>
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Adiar a vacinação até que o bebê tenha peso maior ou igual a 2kg.</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina BCG')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Sobre a vacina</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(2)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle2"></ion-icon>
      <ion-label>Palivizumabe <p>Anticorpo monoclonal específico contra <br>vírus respiratório (VSR)</p></ion-label>
    </ion-item>

    <ion-card-content id="2">
      <ion-list>
        <ion-item>
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
            <p>Doses mensais consecutivas (máximo de 5 doses) para grupos específicos de prematuros. Pode ser utilizada no ambiente hospitalar.</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Palivizumabe')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Sobre a vacina</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(3)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle3"></ion-icon>
      <ion-label>Hepatite B</ion-label>
    </ion-item>

    <ion-card-content id="3">
      <ion-list>
        <ion-item>
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Obrigatório 4 doses para prematuros nascidos com menos de 2kg ou idade gestacional menor que 33 semanas. Primeira dose nas primeiras 12 horas de vida.</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Hepatite B')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Sobre a vacina</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <ion-card (click)="toggle(4)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle4"></ion-icon>
      <ion-label>Rotavírus</ion-label>
    </ion-item>

    <ion-card-content id="4">
      <ion-list>
        <ion-item>
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Iniciar aos 2 meses de vida, respeitando a idade limite máxima para aplicação da primeira dise de 3 meses e 15 dias. Está contraindicada em ambiente hospitalar.</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Rotavírus')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Sobre a vacina</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(5)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle5"></ion-icon>
      <ion-label>Tríplice Bacteriana <p>Difteria, tétano, coqueluche</p></ion-label>
    </ion-item>

    <ion-card-content id="5">
      <ion-list>
        <ion-item>
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Iniciar aos 2 meses de vida e seguir de acordo com o calendário vacinal.</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Tríplice Bacteriana de Células Inteiras - DTPw')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Sobre a vacina</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(6)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle6"></ion-icon>
      <ion-label>Hib <p><i>Haemophilus infenzae b</i></p></ion-label>
    </ion-item>

    <ion-card-content id="6">
      <ion-list>
        <ion-item>
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Iniciar aos 2 meses de vida e seguir de acordo com o calendário vacinal. O reforço da vacina Hib deve ser aplicado aos 15 meses de vida nos prematuros.</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Haemophilus influenzae tipo b- Hib')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Sobre a vacina</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(7)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle7"></ion-icon>
      <ion-label>Poliomielite Inativada <p>VIP</p></ion-label>
    </ion-item>

    <ion-card-content id="7">
      <ion-list>
        <ion-item>
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Iniciar aos 2 meses de vida e seguir de acordo com o calendário vacinal.</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Poliomielite')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Sobre a vacina</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(8)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle8"></ion-icon>
      <ion-label>Pneumocócica Conjugada</ion-label>
    </ion-item>

    <ion-card-content id="8">
      <ion-list>
        <ion-item>
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Iniciar aos 2 meses de vida e seguir de acordo com o calendário vacinal.</p>          
        </ion-item>
        <ion-item (click)="toVacinas('Vacinas Pneumocócicas Conjugadas')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Sobre a vacina</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(9)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle9"></ion-icon>
      <ion-label>Meningocócica Conjugada <p>C / ACWY</p></ion-label>
    </ion-item>

    <ion-card-content id="9">
      <ion-list>
        <ion-item>
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Iniciar aos 3 meses de vida e seguir de acordo com o calendário vacinal.</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Meningocócica Conjugada - ACWY  + Vacina Meningocócica C Conjugada')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Sobre a vacina</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(10)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle10"></ion-icon>
      <ion-label>Meningocócica Conjugada B</ion-label>
    </ion-item>

    <ion-card-content id="10">
      <ion-list>
        <ion-item>
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacinar de acordo com idade cronológica da criança seguindo calendário vacinal. Não está disponível na rede pública.</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Meningocócica B')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Sobre a vacina</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(11)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle11"></ion-icon>
      <ion-label>Influenza</ion-label>
    </ion-item>

    <ion-card-content id="11">
      <ion-list>
        <ion-item>
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Iniciar a partir de 6 meses, de acordo com a sazonalidade do vírus e calendário vacinal.</p>
        </ion-item>
        <ion-item  (click)="toVacinas('Vacina Gripe/Influenza')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Sobre a vacina</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-card (click)="toggle(12)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle12"></ion-icon>
      <ion-label>Febre Amarela</ion-label>
    </ion-item>

    <ion-card-content id="12">
      <ion-list>
        <ion-item>
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Vacinar na idade cronológica, aos 9 meses e 4 anos de idade.</p>
        </ion-item>
        <ion-item (click)="toVacinas('Vacina Febre Amarela')">
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p>Sobre a vacina</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(13)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle13"></ion-icon>
      <ion-label>IGHAHB <p>Imunoglobulina Humana Anti-hepatite B</p></ion-label>
    </ion-item>

    <ion-card-content id="13">
      <ion-list>
        <ion-item>
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p style="text-align: justify;">Indicada para RNs de mães portadoras do víruas da hepatite B (0,5 ml via intramuscular). Aplicar nas primeiras 12-24h de vida até no máximo 7 dias de vida.</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(14)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle14"></ion-icon>
      <ion-label>IGHVZ <p>Imunoglobulina Humana Antivaricela <br>Zóster</p></ion-label>
    </ion-item>

    <ion-card-content id="14">
      <ion-list>
        <ion-item>
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p style="text-align: justify;">Recomendada nas seguintes situações:
          <br>&bull; Para prematuro nascido entre 28 e 36 semanas de gestação, exposto à varicela, se a mãe tiver história negativa para varicela.
          <br>&bull; Para prematuro nascido com menos de 28 semanas de gestação ou menos de 1kg e exposto à varicela, independente da história materna de varicela.
          <br>&bull; Dose de 125 unidades, via intramuscular, deve ser aplicada em até 96 horas de vida no RN.</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="toggle(15)">
    <ion-item>
      <ion-icon name="chevron-down-outline" slot="end" size="small" [style.transform]="degreeStyle15"></ion-icon>
      <ion-label>IGHAT <p>Imunoglobulina Humana Antitetânica</p></ion-label>
    </ion-item>

    <ion-card-content id="15">
      <ion-list>
        <ion-item>
          <ion-icon name="chevron-forward-outline" slot="start" size="small"></ion-icon>
          <p style="text-align: justify;">Indicada para prematuros com lesões potencialmente tetanogênicas (causadas pelo tétano), independente da história vacinal da mãe. Dose de 250 unidades via intramuscular.</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>