<ion-header>
  <ion-toolbar style="padding-top: 7%;">
    <ion-title mode="ios">Comparação</ion-title>
    <ion-icon name="close-circle-outline" style="color: black;" size="large" slot="end" (click)="dismiss()"></ion-icon>&nbsp;&nbsp;
  </ion-toolbar>
    
</ion-header>
<ion-content>
  <div class="container">
    <ion-grid class="ion-text-wrap">
      <ion-row style="font-weight: bold">
        <ion-col size="4">PNI/SUS</ion-col>
        <ion-col size="4">SBIM/Particular</ion-col>
        <ion-col size="4">Diferenças</ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">BCG</ion-col>
        <ion-col size="4">BCG</ion-col>
        <ion-col size="4">Mesma vacina</ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">Hepatite B</ion-col>
        <ion-col size="4">Hepatite B</ion-col>
        <ion-col size="4">Mesma vacina</ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">Penta de células inteiras (DTPw + Hib + HB) + VIP</ion-col>
        <ion-col size="4">Penta Acelular (DTPa + VIP + Hib) ou Hexa Acelular (DTPa + VIP + HB + Hib)</ion-col>
        <ion-col size="4">Reações adversas são significativamente menores na vacina acelular quando comparada a vacina de células inteiras</ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">VIP</ion-col>
        <ion-col size="4">VIP</ion-col>
        <ion-col size="4">Mesma vacina. Na rede particular vem associada a penta ou a hexa acelular</ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">PNEUMO 10</ion-col>
        <ion-col size="4">PNEUMO 13</ion-col>
        <ion-col size="4">Pneumo 13 oferece maior proteção e a recomendação é de 3 doses e 1 reforço. O SUS recomenda 2 doses e 1 reforço da Pneumo 10</ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">Rotavírus VRH1</ion-col>
        <ion-col size="4">Rotavírus VRH5</ion-col>
        <ion-col size="4">A vacina da rede particular oferece maior proteção (5 tipos de rotavírus) e é realizado esquema de 3 doses. No SUS, esquema de 2 doses (1 tipo de rotavírus).</ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">MENINGO C</ion-col>
        <ion-col size="4">MENINGO ACWY</ion-col>
        <ion-col size="4">A meningo ACWY confere maior proteção que a meningo C (meningococo A, W, Y além do C). O SUS disponibiliza a meningo C aos 3 e aos 5 meses de idade, com 1 reforço aos 12 meses e 1 dose da vacina ACWY para os adolescentes</ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">-----------</ion-col>
        <ion-col size="4">MENINGO B</ion-col>
        <ion-col size="4">Só está disponível nos serviços particulares. Previne infecções graves causadas pelo meningococo B</ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">Vacina da gripe<br>Influenza<br>Trivalente</ion-col>
        <ion-col size="4">Vacina da gripe<br>Influenza<br>Tri e quadrivalente</ion-col>
        <ion-col size="4">A vacina quadrivalente confere maior proteção. No SUS a vacina trivalente está disponível para grupos prioritários e na rede particular as vacinas tri e quadrivalente estão disponíveis a partir de 6 meses sem restrição de idade</ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">Febre Amarela</ion-col>
        <ion-col size="4">Febre Amarela</ion-col>
        <ion-col size="4">Mesma vacina</ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">Hepatite A</ion-col>
        <ion-col size="4">Hepatite A</ion-col>
        <ion-col size="4">Mesma vacina. No SUS é realizada 1 dose a partir de 15 meses até 4 anos 11 meses 29 dias. Na rede particular é realizada a partir de 12 meses em 2 doses com intervalo de 6 meses</ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">Tríplice viral (sarampo + caxumba + rubéola)</ion-col>
        <ion-col size="4">Tríplice viral (sarampo + caxumba + rubéola)</ion-col>
        <ion-col size="4">Mesma vacina. Disponível para crianças, adolescentes e adultos na rede particular e no SUS</ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">Tetraviral (triviral + varicela)</ion-col>
        <ion-col size="4">Tetraviral (triviral + varicela)</ion-col>
        <ion-col size="4">Mesma vacina.<br>SUS - disponível para crianças de 15 meses a 4 anos.<br>Particular- disponível para crianças de 12 meses a 12 anos de idade</ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">HPV 4</ion-col>
        <ion-col size="4">HPV 4</ion-col>
        <ion-col size="4">Mesma vacina. SUS disponibiliza para meninas de 9 a 14 anos e meninos de 11 a 14 anos. Na rede particular está disponível para mulheres de 9 a 45 anos e para homens de 9 a 26 anos</ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">VOP</ion-col>
        <ion-col size="4">-----------</ion-col>
        <ion-col size="4">Oferecida pelo SUS nas campanhas de vacinação contra poliomielite e reforços da vacina</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
