ion-button {
    --background: transparent;
    --background-activated: transparent;
    outline: 0;
    border: none;
    box-shadow: 0 0 0 0;
}

ion-header, ion-toolbar {
    --border-style: var(--border-style);
    --border: 0 none; 
    box-shadow: 0 0 0 0; 
    outline: 0;
    //--background: #f2fffc;
    --background: #c0dbd6;
    color: black;
  }


.container {
    padding: 15px;
} 

p {
    //font-weight: bold;
    //font-size: larger;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    border: none;
    padding-top: 0px;
}

.subtitle {
    //font-weight: bold;
    font-size: medium;
    border: none;
    padding-top: 0px;
    //line-height: 0.5;
}

ion-col {
    border: 1px solid lightgray;     
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

p {
    padding-top: 10px;
    //padding-bottom: 10px;
    //border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}